
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "登录";
}
@section PageStyles{
    @*@Styles.Render("~/Content/canvasbg")*@
}
<style type="text/css">
    body #canvas-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }


</style>

<!-- begin canvas animation bg -->
<div id="canvas-wrapper">
    <canvas id="demo-canvas"></canvas>
</div>

<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading text-center">
            <a href="#">
                <img src="/Content/Images/logo.png" alt="Image" class="block-center img-rounded" />
            </a>
        </div>
        <div class="panel-body">
            <p class="text-center pv">SIGN IN TO CONTINUE.</p>
            <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                <div class="form-group has-feedback">
                    <input id="exampleInputEmail1" type="email" placeholder="Enter email" autocomplete="off" required="required" class="form-control" />
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" placeholder="Password" required="required" class="form-control" />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>
                <div class="clearfix">
                    <div class="checkbox c-checkbox pull-left mt0">
                        <label>
                            <input type="checkbox" value="" name="remember" />
                            <span class="fa fa-check"></span>Remember Me
                        </label>
                    </div>
                    <div class="pull-right">
                        <a href="/Pages/Recover" class="text-muted">Forgot your password?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
            </form>
            <p class="pt-lg text-center">Need to Signup?</p><a href="/Pages/Register" class="btn btn-block btn-default">Register Now</a>
        </div>
    </div>
    <!-- END panel-->
</div>

@section PageScripts{
    @Scripts.Render("~/bundles/canvasbg")

    <script type="text/javascript">
        jQuery(document).ready(function () {

            // Init CanvasBG and pass target starting location
            CanvasBG.init({
                Loc: {
                    x: window.innerWidth / 2,
                    y: window.innerHeight / 3.3
                },
            });
        });
    </script>
}

